@import "tailwindcss";

@source "../app/**/*.tsx";
@source "../components/**/*.tsx";

@theme {
  --color-primary: #3b82f6;
}

body {
  background-color: #111827;
  color: #f3f4f6;
  min-height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}
